.container {
    height: 60vh;
}

.card {

    width: 380px;
    border: solid 5px rgb(219, 219, 219);
    border-radius: 15px;
    padding: 2px;
    background-color: rgba(171, 172, 207, 0.719);
    position: relative;
    min-height: 40%;
}


.user {
    position: relative;
}

.profile img {
    height: 84px;
    width: 90px;
    margin-top: 0.2px;
}

#membros {
    width: 264px;
    height: 264px;
    margin: 0 auto;
}

#membros>img {
    float: left;
        border: 2px solid rgba(255, 255, 255, 0);
        width: 60px;
        height: 60px;
        margin: 2%;
}
#membros>p {
    float: left;
    border: 2px solid rgba(255, 255, 255, 0);
    margin-top: 7%;
    color: black;
    width: 20%;
}

.profile {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid rgb(219, 219, 219);
    border-radius: 50%;
}
