<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Team Sync</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
</head>

<body>
    <!DOCTYPE html>
    <html>

    <head>
        <title>Slide Navbar</title>
        <link rel="stylesheet" type="text/css" href="slide navbar style.css">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signup">
                <form action="/usuarios/cadastrar" method="POST" enctype="multipart/form-data">
                    <label for="chk" aria-hidden="true">Cadastrar-se</label>
                    <input type="text" name="nome" placeholder="Nome" required="">
                    <input type="email" name="email" placeholder="E-mail" required="">
                    <input type="password" name="senha" placeholder="Senha" required="">
                    <input type="file" name="imagem" placeholder="imagem" required="" accept="image/png, image/jpeg">
                    <button type="submit">Cadastrar</button>
                </form>
            </div>

            <div class="login">
                <form action="/usuarios/login" method="POST">
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="senha" placeholder="Senha" required="">
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </body>

    </html>

</body>

</html>